div(class='container')

	h1(class='inline') Patrick Delaney
	nav
		ul(class='nav nav-pills')
			li(class='nav-item') 
				a(class="nav-link active ") Home
			li(class='nav-item') 
				a(class="nav-link  ") About
			li(class='nav-item') 
				a(class="nav-link  ") Education
			li(class='nav-item') 
				a(class="nav-link  ") Experience